{% extends "base.html" %}

{% block conteudo %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
                  <table  class="table table-hover tabela">
                    <thead>
                      <tr>
                        <th scope="col">Clique no seu endereço</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       <th scope="row"><a href="{% url 'pages:listarfaturas' clientes.CodigoPessoa %}">{{clientes.Endereco}}</a></th>
                      </tr>
                      
                      {% for cliente in clientes.Outros %}
                      {% if cliente.Situacao != 'Inativo' %}
                      <tr>
                        <th scope="row"><a href="{% url 'pages:listarfaturas' cliente.CodigoPessoa %}" onclick="Clicar()">{{cliente.Endereco}}</a></th>
                       
                      </tr>
                      {% endif %}
                      {% endfor %}
                      
                    </tbody>
                  </table>
                  <form action="" method="post">
                  <input type="text"  id="mk" name="mk" value="{{mk}}" style="display: none;"/>
                  <button type="subimit" id="botao" style="display: none;"></button>
                </form>
                <script>

                  function Clicar()
                  
                  {
                  
                  document.getElementById("botao").click();
                  
                  }
                  
                  </script>
                </div>
              </div>
            </div>
                          
                                            
                            
            {% endblock conteudo %}
            