{% extends "base.html" %}

{% block conteudo %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
                  <table  class="table table-hover tabela">
                    <thead>
                      <tr>
                        <th scope="col">Clique no seu endereço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      {% if clienteRegional and clienteSf %}
                      <th scope="row"><a  href="{% url 'pages:listarfaturasCPS' clienteRegional.CodigoPessoa %}">{{clienteRegional.Endereco}}</a></th>
                      </tr>
                      {% for clienteRegional in clienteRegional.Outros %}
                      <tr>
                      {% if clienteRegional.Situacao != 'Inativo' %}
                        <th scope="row"><a  href="{% url 'pages:listarfaturasCPS' clienteRegional.CodigoPessoa %}">{{clienteRegional.Endereco}}</a></th>
                      {% endif %}
                      </tr>
                      {% endfor %}
                      <tr>
                      <th scope="row"><a  href="{% url 'pages:listarfaturasSF' clienteSf.CodigoPessoa %}">{{clienteSf.Endereco}}</a></th>
                      </tr>
                      {% for clienteSf in clienteSf.Outros %}
                      <tr>
                      {% if clienteSf.Situacao != 'Inativo' %}
                        <th scope="row"><a  href="{% url 'pages:listarfaturasSF' clienteSf.CodigoPessoa %}">{{clienteSf.Endereco}}</a></th>
                      {% endif %}
                      </tr>
                      {% endfor %}
                      {% elif clienteRegional %}
                       <th scope="row"><a  href="{% url 'pages:listarfaturasCPS' clienteRegional.CodigoPessoa %}">{{clienteRegional.Endereco}}</a></th>
                       {% elif clienteSf %}
                       <th scope="row"><a  href="{% url 'pages:listarfaturasSF' clienteSf.CodigoPessoa %}">{{clienteSf.Endereco}}</a></th>
                       {% endif %}
                      </tr>
                      {% if clienteRegional %}
                      {% for cliente in clienteRegional.Outros %}
                      <tr>
                      {% if cliente.Situacao != 'Inativo' %}
                        <th scope="row"><a  href="{% url 'pages:listarfaturasCPS' cliente.CodigoPessoa %}">{{cliente.Endereco}}</a></th>
                      {% endif %}
                      </tr>
                      {% endfor %}
                      {% elif clienteSf %}
                      {% for cliente in clienteSf.Outros %}
                      <tr>
                      {% if cliente.Situacao != 'Inativo' %}
                        <th scope="row"><a  href="{% url 'pages:listarfaturasSF' cliente.CodigoPessoa %}">{{cliente.Endereco}}</a></th>
                      {% endif %}
                      </tr>
                      {% endfor %}
                      {% endif %}
                      
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                          
                                            
                            
            {% endblock conteudo %}
            