{% extends "base_erro.html" %}
{% block conteudo %}

            
                <i class="fa-solid fa-triangle-exclamation text-center icone"></i><p class="texto text-center">Ops algo deu errado na sua busca, vamos tentar de novo, clique em voltar e digite novamente o seu <span class="facil">cpf ou cnpj</span>!</span></p>
                <div class="container-fluid text-center">
                    <a href="javascript:history.back()" class="btn btn-primary button">Voltar</a>
                  </div>


{% endblock conteudo %}