body, html{
    margin: 0;
    padding: 0; 
}
.principal{
    background-image: url("/static/img/Bg.png");
    background-size: cover;
    width: auto;
	height:100vh;
}
.logo{
    
}
.texto{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;    
    color: #FFFFFF;
    
    
}
.facil{
    color: #C7D200;
}
.form{
    width: 800px;
}
.doc {
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    width: 300px;
}
.button{
    margin-top: 50px;
    background-color: #C7D200;
    font-size: 1.5rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    border: none;
    width: 200px;
}
.tabela{
    max-width: 700px;
    border-radius: 20px;
}


.icone{
    font-size: 5rem;
    color: #FFFFFF;

}

    

