body{
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url("/static/img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    padding-top: 50px;
    
}
.texto{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;    
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.facil{
    color: #C7D200;
}
.form{
    width: 800px;
}
.doc {
    #margin-top: 25px;
    #margin-left: 25px;
    text-align: center;
    width: 400px;
}
.button{
    margin-top: 50px;
    background-color: #C7D200;
    font-size: 1.5rem;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    border: none;
    width: 200px;
}
.tabela{
    background: #FFFFFF;
    border-radius: 20px;
}
.fundo{
    margin-top: 50px;
}
.text{
    width: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.icone{
    margin-left: 20px;
}

    

